section.Big-Banner.center
    h1 Start Your Greatest
    h2 Adventure with us!
    p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    a.Big-Banner__button(href='#') CLICK HERE
