section.Contact
    .Contact__header
        .Contact__header__mountain
            h2 Start Your Journey
            h3 Contact us
            .mountain__logo
    .Contact__main.center
        .Contact__main__row1
            .row1__card
                .row1__card__icon1
                .row1__card__text
                    p.card__text-inner EMAIL
                    p.card__text-inner free@psd.in.ua
                    p.card__text-inner free@psd.in.ua
            .row1__card
                .row1__card__icon2
                .row1__card__text
                    p.card__text-inner CALL US !
                    p.card__text-inner +123 456 7890
                    p.card__text-inner +123 456 7890
            .row1__card
                .row1__card__icon3
                .row1__card__text
                    p.card__text-inner ADDRESS
                    p.card__text-inner 123, Main Road, New City
                    p.card__text-inner My Country 123456
        .Contact__main__row2
            a.row2__social-icons(href='https://www.facebook.com/' target='blank')
                img(src='../../images/FACEBOOK2.png' alt='facebook')
            a.row2__social-icons(href='https://www.google.com/' target='blank')
                img(src='../../images/GOOGLE2.png' alt='google')
            a.row2__social-icons(href='https://vk.com/' target='blank')
                img(src='../../images/VK2.png' alt='vk')
            a.row2__social-icons(href='https://www.youtube.com/' target='blank')
                img(src='../../images/YOUTUBE2.png' alt='youtube')
            a.row2__social-icons(href='https://www.linkedin.com/' target='blank')
                img(src='../../images/LINKEDIN2.png' alt='linkedin')
            a.row2__social-icons(href='http://digg.com/' target='blank')
                img(src='../../images/DIGG2.png' alt='digg')
            a.row2__social-icons(href='https://www.twitter.com/' target='blank')
                img(src='../../images/TWITTER2.png' alt='twitter')
    .Contact__footer
        span Designed By PSD.IN.UA
        span Copyright 2020, All Right Reserved
