section.Find
    .Find__img
        .center
            h2.FindHotels Find Hotels
            form(action='#')
                .form-wrapper
                    .input-text-wrapper
                        label.label Where?
                        input.input-text.input-text_margin(type='text' placeholder='Location')
                    .input-date-wrapper
                        label.label Check in
                        input.input-date(placeholder='DD-MM-YYYY')
                    .input-date-wrapper
                        label.label Check out
                        input.input-date(placeholder='DD-MM-YYYY')
                    .input-number-wrapper
                        label.label Adult
                        input.input-number(placeholder='01')
                    .input-number-wrapper
                        label.label Children
                        input.input-number(placeholder='00')
                    button CLICK HERE
