section.FullScreen
    .FullScreen__img
        .FullScreen-header
            .center
                .FullScreen-header__row1
                    .row1__phone
                        span
                            a(href='#')  +123 4567 8900
                    .row1__email
                        span
                            a(href='#')  free@psd.in.ua
