section.FullScreen
    .FullScreen__img
        .FullScreen-header
            .center
                .FullScreen-header__row1
                    .row1__phone
                        span
                            i.fa.fa-phone
                            a(href='#')  +123 4567 8900
                    .row1__email
                        span
                            i.fa.fa-envelope
                            a(href='#')  free@psd.in.ua
                    .row1__icons
                        a.icons(href='http://fb.com')
                            i.fa.fa-facebook-f
                        a.icons(href='http://plus.google.com')
                            i.fa.fa-google-plus
                        a.icons(href='http://vk.com')
                            i.fa.fa-vk
                        a.icons(href='http://youtube.com')
                            i.fa.fa-youtube
                    .row1__login-sign
                        .login
                            span
                                i.fa.fa-user
                                a(href='#')  Login
                        .sign
                            span
                                i.fa.fa-key
                                a(href='#')  Sign Up
                .FullScreen-header__row2
                    .row2__logo
                        a(href='https://www.explore.co.uk/' target='blank')
                            img(src='../../images/logo.png' alt='logo')
                            h3  creative tagline here
                    nav.row2__menu
                        ul
                            li
                                a(href='') Home
                            li
                                a(href='') Destination
                            li
                                a(href='') Discount
                            li
                                a(href='') About
                            li
                                a(href='') Blog
                            li
                                a(href='') Contact
