section.Go-Exploore
    .Go-Exploore__full-screen-img
        h2 Trusted Since 2001
        h3 GO EXPLOORE
        .Go-Exploore__centreal-container
            .centreal-container__inner-block
                img(src='../../images/tramm.png' alt='tramm')
                a.Go-Exploore__button(href='#') CLICK HERE
                h2  Lorem Ipsum Dolor
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit.
            .centreal-container__inner-block
                img(src='../../images/minivan.png' alt='minivan')
                a.Go-Exploore__button(href='#') CLICK HERE
                h2  Lorem Ipsum Dolor
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit.
            .centreal-container__inner-block
                img(src='../../images/budda.png' alt='budda')
                a.Go-Exploore__button(href='#') CLICK HERE
                h2  Lorem Ipsum Dolor
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit.
