section.Graffiti
    .Graffiti__image-wrapper
        .Graffiti-img
    .Graffiti__card
        h3  New York + Paris
        span 7 Day + 6 Night
        .Graffiti__icons
            .Graffiti__icons__wrapper
                img(src='../../images/plane3.png' alt='flight')
                br
                .flight  Flight
            .Graffiti__icons__wrapper
                img(src='../../images/house.png' alt='hotel')
                br
                .flight  Hotel
            .Graffiti__icons__wrapper
                img(src='../../images/car2.png' alt='transport')
                br
                .flight  Transport
        p.Graffiti__card__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua.
        .Graffiti__card__price-and-button
            img(src='../../images/1000usd.png' alt='price')
            a.Graffiti-button.Pack-and-Go__button(href='#') BOOK NOW
