section.Pack-and-Go
    .Pack-and-Go__container-img
        section.Header-inner
            .center
                .Header-inner__MostUsed
                    h2 Pack and Go
                    h3  Awesome Tours
        .Pack-and-Go__Wrapper.center
            .Wrapper__blocks.Wrapper__blocks_left
                img(src='../../images/LeftFoto.png' alt='foto')
                span 7 Days + 7 Nights
                h3  New York + Paris
                p  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h4
                    img.dollar(src='../../images/Dollar.png')
                    span 600
                a.Pack-and-Go__button(href='#') BOOK NOW
            .Wrapper__blocks.Wrapper__blocks_mid
                img(src='../../images/MidFoto.png' alt='foto')
                //span 7 Days + 7 Nights
                //h3  New York + Paris
                //p  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                //h4
                  //img.dollar(src='../../images/Dollar.png')
                  //  span 800
                //a.Pack-and-Go__button(href='#') BOOK NOW
            .Wrapper__blocks.Wrapper__blocks_right
                img(src='../../images/RightFoto.png' alt='foto')
                span 7 Days + 7 Nights
                h3  New York + Paris
                p  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h4
                    img.dollar(src='../../images/Dollar.png')
                    span 800
                a.Pack-and-Go__button(href='#') BOOK NOW
    .Pack-and-Go__container-colorBlue
