section.Customer-reviews
    .Customer-reviews__hero-foto
        .hero-foto__img
            h2 Customer Reviews
            h3  We are Travel Agent
            p
                | &rdquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur.&rdquo;
            .stars
                img(src='../../images/5stars.png' alt='stars')
            .hero-foto__img__card
                .card__foto
                .card__text
                    p John Smith
                    p Solo Traveller
