section.Services
    .center
        h2  Our Best Services
        h3 We are Travel Agent
        .Services__list
            .Services__list__leftBlock
                ul
                    li
                        h4  Lorem Ipsum Dolor Sit
                        p.leftBlock__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            | eiusmod.
                    li
                        h4  Lorem Ipsum Dolor Sit
                        p.leftBlock__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            | eiusmod.
                    li
                        h4  Lorem Ipsum Dolor Sit
                        p.leftBlock__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            | eiusmod.
            .Services__list__rightBlock
                ul
                    li
                        h4  Lorem Ipsum Dolor Sit
                        p.rightBlock__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            | do eiusmod.
                    li
                        h4  Lorem Ipsum Dolor Sit
                        p.rightBlock__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            | do eiusmod.
                    li
                        h4  Lorem Ipsum Dolor Sit
                        p.rightBlock__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            | do eiusmod.
