section.Train-and-Text
    .Train-block
        .Train-block__img
    .Text-block
        .Text-block__img
            h2 Trusted Since 2001
            h3  We are Exploore
            p.text-margin
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                | incididunt ut
                | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                | laboris.
            ul
                li
                    p.icon-points
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                li
                    p.icon-points
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                li
                    p.icon-points
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
