section.Trusted
    .Trusted__container-img
        section.Header-inner
            .center
                .Header-inner__MostUsed
                    h2 Trusted Since 2001
                    h3  We are Travel Agent
        .Trusted__blocksWrapper.center
            .white-blocks
                .white-block_icon
                    img(src='../../images/car.png' alt='icon-car')
                .white-block__title
                    | Low Budget Trip
                .white-block__ribbon

                    span $500
                .white-block__package
                    img(src='../../images/Package.png' alt='package')
            .white-blocks
                .white-block_icon.white-block_icon-font
                    img(src='../../images/Train2.png' alt='icon-car')
                .white-block__title.white-block__title-margin
                    | Mid Budget Trip
                .white-block__ribbon

                    span $800
                .white-block__package
                    img(src='../../images/Package.png' alt='package')
            .white-blocks
                .white-block_icon
                    img(src='../../images/Plane2.png' alt='icon-car')
                .white-block__title
                    | High Budget Trip
                .white-block__ribbon

                    span $1000
                .white-block__package
                    img(src='../../images/Package.png' alt='package')
    .Trusted__container-colorBlue
