/*Header-inner*/
/*/
/*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
  color: #040404;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
h1 {
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: "Montserrat";
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: .6rem;
  isplay: inline-block;
}
h3 {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: "Lato";
  font-size: 37px;
  font-weight: 500;
  letter-spacing: -1px;
  isplay: inline-block;
}
h4 {
  padding: 0;
  margin: 0;
}
h5 {
  padding: 0;
  margin: 0;
}
h6 {
  padding: 0;
  margin: 0;
}
section {
  ackground-color: green;
}
.center {
  max-width: 1250px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  ackground-color: orange;
}
.Header-inner__MostUsed {
  height: 100px;
  width: 100%;
  text-align: center;
  ackground-color: pink;
}
//Header-inner// {
a {
  color: white;
}

a {
  &:hover {
    text-decoration: none;
    color: #ffdd00;
  }
}
