// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$1000usd-name: '1000usd';
$1000usd-x: 1112px;
$1000usd-y: 1445px;
$1000usd-offset-x: -1112px;
$1000usd-offset-y: -1445px;
$1000usd-width: 157px;
$1000usd-height: 53px;
$1000usd-total-width: 2534px;
$1000usd-total-height: 1615px;
$1000usd-image: '../images/sprite.png';
$1000usd: (1112px, 1445px, -1112px, -1445px, 157px, 53px, 2534px, 1615px, '../images/sprite.png', '1000usd', );
$5stars-name: '5stars';
$5stars-x: 2047px;
$5stars-y: 1219px;
$5stars-offset-x: -2047px;
$5stars-offset-y: -1219px;
$5stars-width: 168px;
$5stars-height: 20px;
$5stars-total-width: 2534px;
$5stars-total-height: 1615px;
$5stars-image: '../images/sprite.png';
$5stars: (2047px, 1219px, -2047px, -1219px, 168px, 20px, 2534px, 1615px, '../images/sprite.png', '5stars', );
$-c-a-b-name: 'CAB';
$-c-a-b-x: 1495px;
$-c-a-b-y: 930px;
$-c-a-b-offset-x: -1495px;
$-c-a-b-offset-y: -930px;
$-c-a-b-width: 122px;
$-c-a-b-height: 40px;
$-c-a-b-total-width: 2534px;
$-c-a-b-total-height: 1615px;
$-c-a-b-image: '../images/sprite.png';
$-c-a-b: (1495px, 930px, -1495px, -930px, 122px, 40px, 2534px, 1615px, '../images/sprite.png', 'CAB', );
$-cell-phone-name: 'CellPhone';
$-cell-phone-x: 2490px;
$-cell-phone-y: 762px;
$-cell-phone-offset-x: -2490px;
$-cell-phone-offset-y: -762px;
$-cell-phone-width: 36px;
$-cell-phone-height: 54px;
$-cell-phone-total-width: 2534px;
$-cell-phone-total-height: 1615px;
$-cell-phone-image: '../images/sprite.png';
$-cell-phone: (2490px, 762px, -2490px, -762px, 36px, 54px, 2534px, 1615px, '../images/sprite.png', 'CellPhone', );
$-d-i-g-g2-name: 'DIGG2';
$-d-i-g-g2-x: 2496px;
$-d-i-g-g2-y: 1016px;
$-d-i-g-g2-offset-x: -2496px;
$-d-i-g-g2-offset-y: -1016px;
$-d-i-g-g2-width: 35px;
$-d-i-g-g2-height: 22px;
$-d-i-g-g2-total-width: 2534px;
$-d-i-g-g2-total-height: 1615px;
$-d-i-g-g2-image: '../images/sprite.png';
$-d-i-g-g2: (2496px, 1016px, -2496px, -1016px, 35px, 22px, 2534px, 1615px, '../images/sprite.png', 'DIGG2', );
$-dollar-name: 'Dollar';
$-dollar-x: 2493px;
$-dollar-y: 1089px;
$-dollar-offset-x: -2493px;
$-dollar-offset-y: -1089px;
$-dollar-width: 24px;
$-dollar-height: 24px;
$-dollar-total-width: 2534px;
$-dollar-total-height: 1615px;
$-dollar-image: '../images/sprite.png';
$-dollar: (2493px, 1089px, -2493px, -1089px, 24px, 24px, 2534px, 1615px, '../images/sprite.png', 'Dollar', );
$-f-a-c-e-b-o-o-k2-name: 'FACEBOOK2';
$-f-a-c-e-b-o-o-k2-x: 2519px;
$-f-a-c-e-b-o-o-k2-y: 884px;
$-f-a-c-e-b-o-o-k2-offset-x: -2519px;
$-f-a-c-e-b-o-o-k2-offset-y: -884px;
$-f-a-c-e-b-o-o-k2-width: 15px;
$-f-a-c-e-b-o-o-k2-height: 28px;
$-f-a-c-e-b-o-o-k2-total-width: 2534px;
$-f-a-c-e-b-o-o-k2-total-height: 1615px;
$-f-a-c-e-b-o-o-k2-image: '../images/sprite.png';
$-f-a-c-e-b-o-o-k2: (2519px, 884px, -2519px, -884px, 15px, 28px, 2534px, 1615px, '../images/sprite.png', 'FACEBOOK2', );
$-g-o-o-g-l-e2-name: 'GOOGLE2';
$-g-o-o-g-l-e2-x: 2490px;
$-g-o-o-g-l-e2-y: 858px;
$-g-o-o-g-l-e2-offset-x: -2490px;
$-g-o-o-g-l-e2-offset-y: -858px;
$-g-o-o-g-l-e2-width: 39px;
$-g-o-o-g-l-e2-height: 26px;
$-g-o-o-g-l-e2-total-width: 2534px;
$-g-o-o-g-l-e2-total-height: 1615px;
$-g-o-o-g-l-e2-image: '../images/sprite.png';
$-g-o-o-g-l-e2: (2490px, 858px, -2490px, -858px, 39px, 26px, 2534px, 1615px, '../images/sprite.png', 'GOOGLE2', );
$-h-o-t-e-l-name: 'HOTEL';
$-h-o-t-e-l-x: 2397px;
$-h-o-t-e-l-y: 1416px;
$-h-o-t-e-l-offset-x: -2397px;
$-h-o-t-e-l-offset-y: -1416px;
$-h-o-t-e-l-width: 129px;
$-h-o-t-e-l-height: 45px;
$-h-o-t-e-l-total-width: 2534px;
$-h-o-t-e-l-total-height: 1615px;
$-h-o-t-e-l-image: '../images/sprite.png';
$-h-o-t-e-l: (2397px, 1416px, -2397px, -1416px, 129px, 45px, 2534px, 1615px, '../images/sprite.png', 'HOTEL', );
$-icon-mobile-name: 'Icon_Mobile';
$-icon-mobile-x: 2511px;
$-icon-mobile-y: 956px;
$-icon-mobile-offset-x: -2511px;
$-icon-mobile-offset-y: -956px;
$-icon-mobile-width: 18px;
$-icon-mobile-height: 27px;
$-icon-mobile-total-width: 2534px;
$-icon-mobile-total-height: 1615px;
$-icon-mobile-image: '../images/sprite.png';
$-icon-mobile: (2511px, 956px, -2511px, -956px, 18px, 27px, 2534px, 1615px, '../images/sprite.png', 'Icon_Mobile', );
$-l-e-f-t-name: 'LEFT';
$-l-e-f-t-x: 2397px;
$-l-e-f-t-y: 1461px;
$-l-e-f-t-offset-x: -2397px;
$-l-e-f-t-offset-y: -1461px;
$-l-e-f-t-width: 119px;
$-l-e-f-t-height: 35px;
$-l-e-f-t-total-width: 2534px;
$-l-e-f-t-total-height: 1615px;
$-l-e-f-t-image: '../images/sprite.png';
$-l-e-f-t: (2397px, 1461px, -2397px, -1461px, 119px, 35px, 2534px, 1615px, '../images/sprite.png', 'LEFT', );
$-l-i-n-k-e-d-i-n2-name: 'LINKEDIN2';
$-l-i-n-k-e-d-i-n2-x: 2496px;
$-l-i-n-k-e-d-i-n2-y: 1038px;
$-l-i-n-k-e-d-i-n2-offset-x: -2496px;
$-l-i-n-k-e-d-i-n2-offset-y: -1038px;
$-l-i-n-k-e-d-i-n2-width: 27px;
$-l-i-n-k-e-d-i-n2-height: 26px;
$-l-i-n-k-e-d-i-n2-total-width: 2534px;
$-l-i-n-k-e-d-i-n2-total-height: 1615px;
$-l-i-n-k-e-d-i-n2-image: '../images/sprite.png';
$-l-i-n-k-e-d-i-n2: (2496px, 1038px, -2496px, -1038px, 27px, 26px, 2534px, 1615px, '../images/sprite.png', 'LINKEDIN2', );
$-left-foto-name: 'LeftFoto';
$-left-foto-x: 1112px;
$-left-foto-y: 1189px;
$-left-foto-offset-x: -1112px;
$-left-foto-offset-y: -1189px;
$-left-foto-width: 375px;
$-left-foto-height: 256px;
$-left-foto-total-width: 2534px;
$-left-foto-total-height: 1615px;
$-left-foto-image: '../images/sprite.png';
$-left-foto: (1112px, 1189px, -1112px, -1189px, 375px, 256px, 2534px, 1615px, '../images/sprite.png', 'LeftFoto', );
$-man-foto-name: 'ManFoto';
$-man-foto-x: 2464px;
$-man-foto-y: 693px;
$-man-foto-offset-x: -2464px;
$-man-foto-offset-y: -693px;
$-man-foto-width: 69px;
$-man-foto-height: 69px;
$-man-foto-total-width: 2534px;
$-man-foto-total-height: 1615px;
$-man-foto-image: '../images/sprite.png';
$-man-foto: (2464px, 693px, -2464px, -693px, 69px, 69px, 2534px, 1615px, '../images/sprite.png', 'ManFoto', );
$-mid-foto-name: 'MidFoto';
$-mid-foto-x: 2047px;
$-mid-foto-y: 693px;
$-mid-foto-offset-x: -2047px;
$-mid-foto-offset-y: -693px;
$-mid-foto-width: 417px;
$-mid-foto-height: 263px;
$-mid-foto-total-width: 2534px;
$-mid-foto-total-height: 1615px;
$-mid-foto-image: '../images/sprite.png';
$-mid-foto: (2047px, 693px, -2047px, -693px, 417px, 263px, 2534px, 1615px, '../images/sprite.png', 'MidFoto', );
$-mountain-name: 'Mountain';
$-mountain-x: 0px;
$-mountain-y: 0px;
$-mountain-offset-x: 0px;
$-mountain-offset-y: 0px;
$-mountain-width: 1629px;
$-mountain-height: 465px;
$-mountain-total-width: 2534px;
$-mountain-total-height: 1615px;
$-mountain-image: '../images/sprite.png';
$-mountain: (0px, 0px, 0px, 0px, 1629px, 465px, 2534px, 1615px, '../images/sprite.png', 'Mountain', );
$-mountain2-name: 'Mountain2';
$-mountain2-x: 0px;
$-mountain2-y: 465px;
$-mountain2-offset-x: 0px;
$-mountain2-offset-y: -465px;
$-mountain2-width: 1629px;
$-mountain2-height: 465px;
$-mountain2-total-width: 2534px;
$-mountain2-total-height: 1615px;
$-mountain2-image: '../images/sprite.png';
$-mountain2: (0px, 465px, 0px, -465px, 1629px, 465px, 2534px, 1615px, '../images/sprite.png', 'Mountain2', );
$-ocean-name: 'Ocean';
$-ocean-x: 0px;
$-ocean-y: 930px;
$-ocean-offset-x: 0px;
$-ocean-offset-y: -930px;
$-ocean-width: 1112px;
$-ocean-height: 580px;
$-ocean-total-width: 2534px;
$-ocean-total-height: 1615px;
$-ocean-image: '../images/sprite.png';
$-ocean: (0px, 930px, 0px, -930px, 1112px, 580px, 2534px, 1615px, '../images/sprite.png', 'Ocean', );
$-package-name: 'Package';
$-package-x: 0px;
$-package-y: 1510px;
$-package-offset-x: 0px;
$-package-offset-y: -1510px;
$-package-width: 179px;
$-package-height: 105px;
$-package-total-width: 2534px;
$-package-total-height: 1615px;
$-package-image: '../images/sprite.png';
$-package: (0px, 1510px, 0px, -1510px, 179px, 105px, 2534px, 1615px, '../images/sprite.png', 'Package', );
$-plane2-name: 'Plane2';
$-plane2-x: 2434px;
$-plane2-y: 1148px;
$-plane2-offset-x: -2434px;
$-plane2-offset-y: -1148px;
$-plane2-width: 57px;
$-plane2-height: 57px;
$-plane2-total-width: 2534px;
$-plane2-total-height: 1615px;
$-plane2-image: '../images/sprite.png';
$-plane2: (2434px, 1148px, -2434px, -1148px, 57px, 57px, 2534px, 1615px, '../images/sprite.png', 'Plane2', );
$-right-foto-name: 'RightFoto';
$-right-foto-x: 2047px;
$-right-foto-y: 956px;
$-right-foto-offset-x: -2047px;
$-right-foto-offset-y: -956px;
$-right-foto-width: 387px;
$-right-foto-height: 263px;
$-right-foto-total-width: 2534px;
$-right-foto-total-height: 1615px;
$-right-foto-image: '../images/sprite.png';
$-right-foto: (2047px, 956px, -2047px, -956px, 387px, 263px, 2534px, 1615px, '../images/sprite.png', 'RightFoto', );
$-t-w-i-t-t-e-r2-name: 'TWITTER2';
$-t-w-i-t-t-e-r2-x: 2516px;
$-t-w-i-t-t-e-r2-y: 913px;
$-t-w-i-t-t-e-r2-offset-x: -2516px;
$-t-w-i-t-t-e-r2-offset-y: -913px;
$-t-w-i-t-t-e-r2-width: 18px;
$-t-w-i-t-t-e-r2-height: 28px;
$-t-w-i-t-t-e-r2-total-width: 2534px;
$-t-w-i-t-t-e-r2-total-height: 1615px;
$-t-w-i-t-t-e-r2-image: '../images/sprite.png';
$-t-w-i-t-t-e-r2: (2516px, 913px, -2516px, -913px, 18px, 28px, 2534px, 1615px, '../images/sprite.png', 'TWITTER2', );
$-train2-name: 'Train2';
$-train2-x: 2434px;
$-train2-y: 1016px;
$-train2-offset-x: -2434px;
$-train2-offset-y: -1016px;
$-train2-width: 62px;
$-train2-height: 73px;
$-train2-total-width: 2534px;
$-train2-total-height: 1615px;
$-train2-image: '../images/sprite.png';
$-train2: (2434px, 1016px, -2434px, -1016px, 62px, 73px, 2534px, 1615px, '../images/sprite.png', 'Train2', );
$-v-k2-name: 'VK2';
$-v-k2-x: 2496px;
$-v-k2-y: 1064px;
$-v-k2-offset-x: -2496px;
$-v-k2-offset-y: -1064px;
$-v-k2-width: 33px;
$-v-k2-height: 19px;
$-v-k2-total-width: 2534px;
$-v-k2-total-height: 1615px;
$-v-k2-image: '../images/sprite.png';
$-v-k2: (2496px, 1064px, -2496px, -1064px, 33px, 19px, 2534px, 1615px, '../images/sprite.png', 'VK2', );
$-y-o-u-t-u-b-e2-name: 'YOUTUBE2';
$-y-o-u-t-u-b-e2-x: 2490px;
$-y-o-u-t-u-b-e2-y: 913px;
$-y-o-u-t-u-b-e2-offset-x: -2490px;
$-y-o-u-t-u-b-e2-offset-y: -913px;
$-y-o-u-t-u-b-e2-width: 26px;
$-y-o-u-t-u-b-e2-height: 30px;
$-y-o-u-t-u-b-e2-total-width: 2534px;
$-y-o-u-t-u-b-e2-total-height: 1615px;
$-y-o-u-t-u-b-e2-image: '../images/sprite.png';
$-y-o-u-t-u-b-e2: (2490px, 913px, -2490px, -913px, 26px, 30px, 2534px, 1615px, '../images/sprite.png', 'YOUTUBE2', );
$-yellow-logo-name: 'YellowLogo';
$-yellow-logo-x: 2397px;
$-yellow-logo-y: 1239px;
$-yellow-logo-offset-x: -2397px;
$-yellow-logo-offset-y: -1239px;
$-yellow-logo-width: 118px;
$-yellow-logo-height: 177px;
$-yellow-logo-total-width: 2534px;
$-yellow-logo-total-height: 1615px;
$-yellow-logo-image: '../images/sprite.png';
$-yellow-logo: (2397px, 1239px, -2397px, -1239px, 118px, 177px, 2534px, 1615px, '../images/sprite.png', 'YellowLogo', );
$bicycle-name: 'bicycle';
$bicycle-x: 1495px;
$bicycle-y: 1001px;
$bicycle-offset-x: -1495px;
$bicycle-offset-y: -1001px;
$bicycle-width: 61px;
$bicycle-height: 53px;
$bicycle-total-width: 2534px;
$bicycle-total-height: 1615px;
$bicycle-image: '../images/sprite.png';
$bicycle: (1495px, 1001px, -1495px, -1001px, 61px, 53px, 2534px, 1615px, '../images/sprite.png', 'bicycle', );
$budda-name: 'budda';
$budda-x: 1112px;
$budda-y: 930px;
$budda-offset-x: -1112px;
$budda-offset-y: -930px;
$budda-width: 383px;
$budda-height: 259px;
$budda-total-width: 2534px;
$budda-total-height: 1615px;
$budda-image: '../images/sprite.png';
$budda: (1112px, 930px, -1112px, -930px, 383px, 259px, 2534px, 1615px, '../images/sprite.png', 'budda', );
$car-name: 'car';
$car-x: 2434px;
$car-y: 956px;
$car-offset-x: -2434px;
$car-offset-y: -956px;
$car-width: 77px;
$car-height: 60px;
$car-total-width: 2534px;
$car-total-height: 1615px;
$car-image: '../images/sprite.png';
$car: (2434px, 956px, -2434px, -956px, 77px, 60px, 2534px, 1615px, '../images/sprite.png', 'car', );
$car2-name: 'car2';
$car2-x: 1551px;
$car2-y: 1054px;
$car2-offset-x: -1551px;
$car2-offset-y: -1054px;
$car2-width: 57px;
$car2-height: 49px;
$car2-total-width: 2534px;
$car2-total-height: 1615px;
$car2-image: '../images/sprite.png';
$car2: (1551px, 1054px, -1551px, -1054px, 57px, 49px, 2534px, 1615px, '../images/sprite.png', 'car2', );
$envelope-name: 'envelope';
$envelope-x: 2493px;
$envelope-y: 1113px;
$envelope-offset-x: -2493px;
$envelope-offset-y: -1113px;
$envelope-width: 20px;
$envelope-height: 16px;
$envelope-total-width: 2534px;
$envelope-total-height: 1615px;
$envelope-image: '../images/sprite.png';
$envelope: (2493px, 1113px, -2493px, -1113px, 20px, 16px, 2534px, 1615px, '../images/sprite.png', 'envelope', );
$eye-name: 'eye';
$eye-x: 1534px;
$eye-y: 1210px;
$eye-offset-x: -1534px;
$eye-offset-y: -1210px;
$eye-width: 50px;
$eye-height: 35px;
$eye-total-width: 2534px;
$eye-total-height: 1615px;
$eye-image: '../images/sprite.png';
$eye: (1534px, 1210px, -1534px, -1210px, 50px, 35px, 2534px, 1615px, '../images/sprite.png', 'eye', );
$facebook-name: 'facebook';
$facebook-x: 2490px;
$facebook-y: 816px;
$facebook-offset-x: -2490px;
$facebook-offset-y: -816px;
$facebook-width: 37px;
$facebook-height: 42px;
$facebook-total-width: 2534px;
$facebook-total-height: 1615px;
$facebook-image: '../images/sprite.png';
$facebook: (2490px, 816px, -2490px, -816px, 37px, 42px, 2534px, 1615px, '../images/sprite.png', 'facebook', );
$graffiti-name: 'graffiti';
$graffiti-x: 1629px;
$graffiti-y: 0px;
$graffiti-offset-x: -1629px;
$graffiti-offset-y: 0px;
$graffiti-width: 905px;
$graffiti-height: 693px;
$graffiti-total-width: 2534px;
$graffiti-total-height: 1615px;
$graffiti-image: '../images/sprite.png';
$graffiti: (1629px, 0px, -1629px, 0px, 905px, 693px, 2534px, 1615px, '../images/sprite.png', 'graffiti', );
$house-name: 'house';
$house-x: 1495px;
$house-y: 1105px;
$house-offset-x: -1495px;
$house-offset-y: -1105px;
$house-width: 52px;
$house-height: 53px;
$house-total-width: 2534px;
$house-total-height: 1615px;
$house-image: '../images/sprite.png';
$house: (1495px, 1105px, -1495px, -1105px, 52px, 53px, 2534px, 1615px, '../images/sprite.png', 'house', );
$icons-name: 'icons';
$icons-x: 1487px;
$icons-y: 1189px;
$icons-offset-x: -1487px;
$icons-offset-y: -1189px;
$icons-width: 141px;
$icons-height: 21px;
$icons-total-width: 2534px;
$icons-total-height: 1615px;
$icons-image: '../images/sprite.png';
$icons: (1487px, 1189px, -1487px, -1189px, 141px, 21px, 2534px, 1615px, '../images/sprite.png', 'icons', );
$login-name: 'login';
$login-x: 2517px;
$login-y: 1089px;
$login-offset-x: -2517px;
$login-offset-y: -1089px;
$login-width: 17px;
$login-height: 18px;
$login-total-width: 2534px;
$login-total-height: 1615px;
$login-image: '../images/sprite.png';
$login: (2517px, 1089px, -2517px, -1089px, 17px, 18px, 2534px, 1615px, '../images/sprite.png', 'login', );
$logo-name: 'logo';
$logo-x: 1495px;
$logo-y: 970px;
$logo-offset-x: -1495px;
$logo-offset-y: -970px;
$logo-width: 127px;
$logo-height: 31px;
$logo-total-width: 2534px;
$logo-total-height: 1615px;
$logo-image: '../images/sprite.png';
$logo: (1495px, 970px, -1495px, -970px, 127px, 31px, 2534px, 1615px, '../images/sprite.png', 'logo', );
$minivan-name: 'minivan';
$minivan-x: 1629px;
$minivan-y: 1239px;
$minivan-offset-x: -1629px;
$minivan-offset-y: -1239px;
$minivan-width: 384px;
$minivan-height: 259px;
$minivan-total-width: 2534px;
$minivan-total-height: 1615px;
$minivan-image: '../images/sprite.png';
$minivan: (1629px, 1239px, -1629px, -1239px, 384px, 259px, 2534px, 1615px, '../images/sprite.png', 'minivan', );
$phone-name: 'phone';
$phone-x: 2493px;
$phone-y: 1129px;
$phone-offset-x: -2493px;
$phone-offset-y: -1129px;
$phone-width: 16px;
$phone-height: 17px;
$phone-total-width: 2534px;
$phone-total-height: 1615px;
$phone-image: '../images/sprite.png';
$phone: (2493px, 1129px, -2493px, -1129px, 16px, 17px, 2534px, 1615px, '../images/sprite.png', 'phone', );
$plane-name: 'plane';
$plane-x: 1556px;
$plane-y: 1001px;
$plane-offset-x: -1556px;
$plane-offset-y: -1001px;
$plane-width: 59px;
$plane-height: 53px;
$plane-total-width: 2534px;
$plane-total-height: 1615px;
$plane-image: '../images/sprite.png';
$plane: (1556px, 1001px, -1556px, -1001px, 59px, 53px, 2534px, 1615px, '../images/sprite.png', 'plane', );
$plane3-name: 'plane3';
$plane3-x: 1487px;
$plane3-y: 1210px;
$plane3-offset-x: -1487px;
$plane3-offset-y: -1210px;
$plane3-width: 47px;
$plane3-height: 46px;
$plane3-total-width: 2534px;
$plane3-total-height: 1615px;
$plane3-image: '../images/sprite.png';
$plane3: (1487px, 1210px, -1487px, -1210px, 47px, 46px, 2534px, 1615px, '../images/sprite.png', 'plane3', );
$sign-name: 'sign';
$sign-x: 2511px;
$sign-y: 983px;
$sign-offset-x: -2511px;
$sign-offset-y: -983px;
$sign-width: 19px;
$sign-height: 18px;
$sign-total-width: 2534px;
$sign-total-height: 1615px;
$sign-image: '../images/sprite.png';
$sign: (2511px, 983px, -2511px, -983px, 19px, 18px, 2534px, 1615px, '../images/sprite.png', 'sign', );
$spoon-name: 'spoon';
$spoon-x: 1547px;
$spoon-y: 1105px;
$spoon-offset-x: -1547px;
$spoon-offset-y: -1105px;
$spoon-width: 45px;
$spoon-height: 52px;
$spoon-total-width: 2534px;
$spoon-total-height: 1615px;
$spoon-image: '../images/sprite.png';
$spoon: (1547px, 1105px, -1547px, -1105px, 45px, 52px, 2534px, 1615px, '../images/sprite.png', 'spoon', );
$tick-name: 'tick';
$tick-x: 1495px;
$tick-y: 1054px;
$tick-offset-x: -1495px;
$tick-offset-y: -1054px;
$tick-width: 56px;
$tick-height: 51px;
$tick-total-width: 2534px;
$tick-total-height: 1615px;
$tick-image: '../images/sprite.png';
$tick: (1495px, 1054px, -1495px, -1054px, 56px, 51px, 2534px, 1615px, '../images/sprite.png', 'tick', );
$tick-icon-name: 'tick_icon';
$tick-icon-x: 2490px;
$tick-icon-y: 884px;
$tick-icon-offset-x: -2490px;
$tick-icon-offset-y: -884px;
$tick-icon-width: 29px;
$tick-icon-height: 29px;
$tick-icon-total-width: 2534px;
$tick-icon-total-height: 1615px;
$tick-icon-image: '../images/sprite.png';
$tick-icon: (2490px, 884px, -2490px, -884px, 29px, 29px, 2534px, 1615px, '../images/sprite.png', 'tick_icon', );
$ticks-name: 'ticks';
$ticks-x: 2464px;
$ticks-y: 762px;
$ticks-offset-x: -2464px;
$ticks-offset-y: -762px;
$ticks-width: 26px;
$ticks-height: 182px;
$ticks-total-width: 2534px;
$ticks-total-height: 1615px;
$ticks-image: '../images/sprite.png';
$ticks: (2464px, 762px, -2464px, -762px, 26px, 182px, 2534px, 1615px, '../images/sprite.png', 'ticks', );
$train-name: 'train';
$train-x: 2434px;
$train-y: 1089px;
$train-offset-x: -2434px;
$train-offset-y: -1089px;
$train-width: 59px;
$train-height: 59px;
$train-total-width: 2534px;
$train-total-height: 1615px;
$train-image: '../images/sprite.png';
$train: (2434px, 1089px, -2434px, -1089px, 59px, 59px, 2534px, 1615px, '../images/sprite.png', 'train', );
$tramm-name: 'tramm';
$tramm-x: 2013px;
$tramm-y: 1239px;
$tramm-offset-x: -2013px;
$tramm-offset-y: -1239px;
$tramm-width: 384px;
$tramm-height: 259px;
$tramm-total-width: 2534px;
$tramm-total-height: 1615px;
$tramm-image: '../images/sprite.png';
$tramm: (2013px, 1239px, -2013px, -1239px, 384px, 259px, 2534px, 1615px, '../images/sprite.png', 'tramm', );
$yachtsman-name: 'yachtsman';
$yachtsman-x: 1629px;
$yachtsman-y: 693px;
$yachtsman-offset-x: -1629px;
$yachtsman-offset-y: -693px;
$yachtsman-width: 418px;
$yachtsman-height: 546px;
$yachtsman-total-width: 2534px;
$yachtsman-total-height: 1615px;
$yachtsman-image: '../images/sprite.png';
$yachtsman: (1629px, 693px, -1629px, -693px, 418px, 546px, 2534px, 1615px, '../images/sprite.png', 'yachtsman', );
$spritesheet-width: 2534px;
$spritesheet-height: 1615px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($1000usd, $5stars, $-c-a-b, $-cell-phone, $-d-i-g-g2, $-dollar, $-f-a-c-e-b-o-o-k2, $-g-o-o-g-l-e2, $-h-o-t-e-l, $-icon-mobile, $-l-e-f-t, $-l-i-n-k-e-d-i-n2, $-left-foto, $-man-foto, $-mid-foto, $-mountain, $-mountain2, $-ocean, $-package, $-plane2, $-right-foto, $-t-w-i-t-t-e-r2, $-train2, $-v-k2, $-y-o-u-t-u-b-e2, $-yellow-logo, $bicycle, $budda, $car, $car2, $envelope, $eye, $facebook, $graffiti, $house, $icons, $login, $logo, $minivan, $phone, $plane, $plane3, $sign, $spoon, $tick, $tick-icon, $ticks, $train, $tramm, $yachtsman, );
$spritesheet: (2534px, 1615px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
